@model IEnumerable<DataAccess.Model.Alumno>
@{
    ViewBag.Title = "DataTable";
}

    <header style="background-color:moccasin !important" class="jumbotron jumbotron-fluid text-center">
        <h2>Alumnos</h2>
    </header>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}



<div>
    @Html.ActionLink("Nuevo alumno","Create","Alumno", new { @class = "btn btn-success" }) 
</div>
<br />

<table id="table_id" class="table table-hover">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.curso.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.curso.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td class="text-right">
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
